node_modules/
public/components/
public/js/
.sass-cache/
.tscache/
bin/
.idea
*.css.map
*.js.map
.baseDir.ts
public/ts/*.js
.otto
*.txt
*.css

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.DS_Store

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
