@import "../components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../components/font-awesome/scss/font-awesome";

a.offscreen {
  position:absolute;
  left:-1000px;
  top:-1000px;
  width:1px;
  height:1px;
  text-align: left;
  overflow:hidden;

  &:focus, &:active, &:hover {
    position:absolute;
    left:0;
    top:0;
    width:auto;
    height:auto;
    overflow:visible;
    background-color:#FF3;
    border: 1px dotted #000;
  }
}

p {
  max-width: 50rem;
}

.navbar {
  border-radius: 0;
}
