<a href="#content" class="offscreen">Skip to Content</a>

<header class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a [routerLink]="['Home']" class="navbar-brand">atlas</a>
    </div>
    <nav id="navbar" class="collapse navbar-collapse">
      <ul id="menu" class="nav navbar-nav">
        <li><a [routerLink]="['Home']">Home</a></li>
        <li><a [routerLink]="['About']">About</a></li>
        <li><a [routerLink]="['Experiments']">Experiments</a></li>
      </ul>
    </nav>
  </div>
</header>

<main id="content" class="container">
  <div class="shadow"></div>
  <div id="container">
    <router-outlet></router-outlet>
  </div>
</main>

<footer>
  <div class="container">
    &copy; 2016 Scott Daniels
  </div>
</footer>
