<form (submit)="findCountries(country.value)">
  <fieldset>
    <label aria-label="search countries" style="width: 100%">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" #country placeholder="Enter a country" aria-describedby="sizing-addon1" (keyup)="findCountries(country.value)">
        <span class="input-group-addon" id="sizing-addon1" (click)="findCountries(country.value)"><i title="Search" class="glyphicon glyphicon-search"></i></span>
      </div>
    </label>
  </fieldset>
</form>
